

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}






.firstPage {
    background-image: url('/images/backgroundimg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  #category-select{
    background-color: rgb(199, 199, 199);
    opacity: .8;
  }

  #label{
    opacity: .8;
  }
  .navbar {
    background-color: rgb(0, 0, 0);
    /* border-radius: 10px; */
    
  } 



.mtn {
    background: linear-gradient(to right,#87d1c1, #73a086, #73a079, #87c0c0  ) ;
    /* margin-top: 15%; */
    min-width: 250px;
    border-radius: 15px;
    
  }
  
  .mtn:hover{
  
      background-color: #ffbf00;

  }


  h1 {
    color: rgb(255, 255, 255);
    font-size: xx-large;
    text-align-last: center;
    margin-top: 15px;
    }

.h12{
    color: rgb(255, 255, 255);
    font-size: xx-large;
    text-align-last: center;

    filter: blur(3px);
    
}


  /* header .sticky {
    padding: 5px 100px;
    background: #fff;
  }

  header .sticky ul li a {
    color: #000;

  } */


  .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  
  }
  .row{
  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
  
  }
  .col-2{
    flex-basis: 50%;
    min-width: 300px;
    
    }
    .col-2 img{
      max-width: 200%;
      padding: 50px 0;
      align-items: center;
      
     
      
    }
    .col-2 h1{
      font-size: 50px;
      line-height: 60px;
      margin: 25px 0;
     
    }
    .secondPage{
        background: radial-gradient(rgb(215, 249, 255),#dadada) ;
    }

    .form-control{
    border-radius: 12px;
    background: repeating-conic-gradient( #000000,  #da0000, #000000, rgb(214, 0, 0), rgb(0, 0, 0)) ;
    }
  .search{
        border-radius: 15px;
        background-color: #adadad;
    }


    /* _________________________________ */

    .overlay-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    
        .park-container {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
        }
    
        .park-container .card {
          max-width: 300px; /* Set a maximum width for each park container */
        }